autolab-core
autolab-perception
visualization
numpy
opencv-python
scipy
matplotlib
tensorflow<=1.15.0
scikit-learn
scikit-image
gputil
psutil
pandas

# requirements for statistical analysis of evaluation
natsort
scikit-posthocs
pyyaml
notebook

# requirements for inference on physical robot
transformations
transforms3d
